<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.dao.CommentMapper">
    <select id="commentOfSongId" resultType="com.server.pojo.Comment" parameterType="integer">
        select *
        from comment
        where song_id = #{songId, jdbcType=INTEGER}
    </select>
    <delete id="deleteComment" parameterType="integer">
        delete  from comment where id=#{id,jdbcType=INTEGER}
    </delete>

</mapper>