<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.dao.SongMapper">
<!--    查询所有歌曲-->
  <select id="getSongByIf" parameterType="map" resultType="com.server.pojo.Song">
      select * from song
     <where>
         <if test="id!=null">
            and id=#{id}
         </if>
         <if test="singerId!=null">
            and singer_id=#{singerId}
         </if>
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
     </where>
  </select>

    <update id="updateSong" parameterType="com.server.pojo.Song">
        update song
       <set>
          <if test="pic!=null and pic!=''">
              pic=#{pic},
          </if>
             <if test="url!=null and url!=''">
                url=#{url},
             </if>
            <if test="introduction!=null and introduction!=''">
                introduction=#{introduction},
            </if>
       </set>
            where id=#{id}
    </update>
    <delete id="deleteSong" parameterType="integer">
        delete from song where id=#{id}
    </delete>

    <insert id="addSong" parameterType="com.server.pojo.Song">
       insert into song (singer_id,name,introduction,create_time,update_time,pic,lyric,url)
       values (#{singerId},#{name},#{introduction},#{createTime},#{updateTime},#{pic},#{lyric},#{url})
    </insert>
</mapper>
